body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    overflow-x: hidden;
    font-family: 'Segoe UI';
}

    body .container {
        width: 960px;
        margin: 0 auto;
        height: auto;
        background: #e6e6e6;
    }

        body .container .header {
            width: 100%;
            height: auto;
            display: inline-block;
        }

            body .container .header .logo {
                float: left;
                width: 125px;
                height: 100%;
            }

                body .container .header .logo img {
                    width: 100%;
                }

            body .container .header .menu {
                margin-left: 10px;
                width: 825px;
                float: left;
                height: 100%;
                margin: 30px 0 0 0;
            }

                body .container .header .menu ul li {
                    float: left;
                    list-style-type: none;
                    margin-right: 20px;
                }

                    body .container .header .menu ul li a {
                        text-decoration: none;
                        font-size: 18px;
                        color: #2f2f2f;
                    }

                        body .container .header .menu ul li a:hover {
                            color: #0026b8;
                        }

        body .container .slider {
            margin: 10px 0 10px 0;
            width: 100%;
            height: 400px;
            background: #ff6a00;
        }

        body .container .footer {
            width: 100%;
            height: 100px;
            background: #ff00db;
        }
