@using MVC.Models.ViewModels
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model StudentViewModel

<h1>Öğrenci Ekle</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-3">
        <label asp-for="Name" class="form-label"></label>
        <input  asp-for="Name" class="form-control">
        <div id="passwordHelpBlock" class="form-text">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="col-3">
        <label asp-for="Email" class="form-label"></label>
        <input  asp-for="Email" class="form-control">
        <div id="passwordHelpBlock" class="form-text">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="col-3">
        <label asp-for="Age" class="form-label"></label>
        <input   asp-for="Age" class="form-control">
        <div id="passwordHelpBlock" class="form-text">
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

