@using MVC.Models.ViewModels

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Product>

<a class="link-primary" asp-controller="Product" asp-action="Create">Yeni Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ürün Adı</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>
                    <a href="/Product/Update/@product.Id" class="link-primary"> Güncelle</a>|
                    <a href="/Product/Delete/@product.Id" class="link-danger"> Sil</a>
                </td>
            </tr>
        }

    </tbody>
</table>

