@using MVC.Models.ViewModels

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Product
<h1>Ürün Güncelle</h1>


<form method="post" class="row g-3">
    <input type="hidden" asp-for="Id" />
    <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Ürün Adı</label>
        <input asp-for="Name" class="form-control" placeholder="Ürün adı" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Ürün Güncelle</button>
    </div>
</form>